* {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", sans-serif;
}

/* shared work */
.container {
  max-width: 1140px;
  margin: 0 auto;
}

.btn-primary {
  padding: 16px 25px;
  border-radius: 5px;
  background-color: rgb(221, 0, 0);
  color: white;
  border: none;
  cursor: pointer;
}
.btn-head {
  /* margin-top: 8px; */
  cursor: pointer;
}
.font {
  color: rgb(255, 255, 255);
}

/* nav-menu */
.nav-menu {
  display: flex;
  justify-content: center;
  gap: 24px;
  list-style: none;
  margin-top: 23px;
}
.nav-menu a {
  text-decoration: none;
  color: black;
  transition: 0.2s;
}
.nav-menu a:hover {
  color: white;
  background-color: tomato;
  padding: 8px 14px;
  color: white;
  border-radius: 12px;
}

/* banner style */
@keyframes banner {
  0% {
    opacity: 0;
    transform: translateX(-30px);
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes banner-image {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}
@keyframes btn-animate {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  25% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

.banner {
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  border-radius: 23px;
  gap: 23px;
  margin: 50px auto;
  animation: banner 1s forwards;
  /* background-image: url(./assets/img/banner/9679663.jpg); */
  background-size: cover;
  background-repeat: no-repeat;
}
.banner-content {
  margin-left: 25px;
  /* max-width: 50%; */
}

.banner-img > img {
  max-width: 100%;
  display: block;
  animation: banner-image 1s ease-in-out 1;
}
.banner-title {
  font-family: "Poppins", sans-serif;
  font-size: 3rem;
  line-height: 64px;
}
.Greatest {
  color: rgb(251, 75, 43);
}
.banner-content > p {
  color: rgb(255, 255, 255);
  margin: 16px 0;
  max-width: 70%;
}

/* live-match */
.live-match {
  display: flex;
  gap: 23px;
  margin-bottom: 100px;
}
.btn-live {
  margin-top: 12px;
  padding: 14px 64px;
  cursor: pointer;
}
.live {
  display: flex;
  flex-direction: column;
  background: #000;
  max-height: fit-content;
  padding: 34px;
  border-radius: 23px;
  animation: btn-animate 1s ease-in-out 1;
}
.live-btn {
  border: 2px solid black;
  padding: 10px 28px;
  border-radius: 12px;
  margin-bottom: 17px;
  cursor: pointer;
}
.live-card img {
  height: 160px;
  width: 100%;
  border-radius: 7px 7px 0 0;
}
.live-card {
  box-shadow: 0px 0px 1px;
  border-radius: 7px;
}
.live-card-content {
  padding: 12px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px;
}
.live-card:hover {
  background-color: rgb(214, 224, 239);
}
/* footer style */
footer {
  background-color: rgb(22, 22, 22);
  color: white;
  text-align: center;
}
.footer-content {
  background-color: rgb(22, 22, 22);
}
.footer-goal h1 {
  height: 100px;
  font-family: "Schoolbell", cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  color: salmon;
}
.list {
  display: flex;
  gap: 40px;
  list-style: none;
  font-size: 0.6rem;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.list a {
  color: rgb(185, 185, 185);
  text-decoration: none;
  transition: 0.3s;
}
.list a:hover {
  color: white;
  background-color: tomato;
  padding: 8px 14px;
  color: white;
  border-radius: 12px;
}

@media screen and (max-width: 576px) {
  .banner-title {
    max-width: 80%;
    font-size: 2rem;
    line-height: normal;
    margin: 8px auto;
  }
  .banner-content {
    text-align: center;
    margin-bottom: 22px;
  }
  .banner-content p {
    text-align: center;
    margin: 12px auto;
  }
  .live {
    background-color: transparent;
  }
  .live-match {
    flex-direction: column;
  }
  .banner {
    flex-direction: column;
  }
  .card-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 40px;
  }
  .list {
    flex-direction: column;
    gap: 14px;
    height: 180px;
  }
}
